@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply block mx-7 mb-5 border border-gray-200 rounded-lg shadow-md;
}
.primary-button {
  @apply px-4 py-2 rounded shadow outline-none bg-amber-300 hover:bg-amber-400 active:bg-amber-500;
}
.default-button {
  @apply px-4 py-2 bg-gray-100 rounded shadow outline-none hover:bg-gray-200 active:bg-gray-200;
}
input,
textarea,
select {
  @apply p-2 border rounded outline-none ring-gray-300 focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}

.top {
  @apply text-blue-600 hover:text-blue-800;
}
