.jio {
  @media only screen and (max-width: 300px) {
    height: auto;
  }
}
.jioC {
  @media only screen and (max-width: 300px) {
    display: flex;
    align-items: center;
  }
}
.jioT {
  @media only screen and (max-width: 300px) {
    font-size: 28px;
    line-height: 30px;
  }
}
.jioLink {
  @media only screen and (max-width: 300px) {
    display: flex;
    flex-direction: column;
  }
}
.jioLinkT {
  @media only screen and (max-width: 300px) {
    margin-bottom: 10px;
  }
}
